h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 0.3em; 
}



#odkazy h4 {
    background-color: #666;
    color: white;
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}

#krest h4{
    background-color: rgb(118, 163, 33);
    color: white;
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}

#jude h4{
    background-color: rgb(228, 191, 29);
    color: white;
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}

#odkazy h4:hover {
    background-color: rgb(228, 154, 18);
}

#odkazy p {
    display: none;
}
