body {
    background-image: url('../img/mapa3.jpg');
}

footer{
    background-image: url('../img/pozadi.jpg');
}

.content {
    background-color: rgba(255,255,255,0.8);
}

header, main {
    background-color: rgba(0,50,100,0.3);
} 

h2 {
    font-size: 1.2em;
    text-transform: uppercase;
    color: #048;
    margin-bottom: 1em;
    font-weight: 700;
}

h3 {
    font-size: 1.5em;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 1em;
    font-weight: 500;
    border-bottom: 1px solid black;
    padding-bottom: 0.3em; 
}



#odkazy h4 {
    background-color: #666;
    color: white;
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}

#krest h4{
    background-color: rgb(120, 165, 32);
    color: rgb(0, 0, 0);
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}

#jude h4{
    background-color: rgb(228, 191, 29);
    color: white;
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}


#hind h4{
    background-color: rgb(14, 141, 180);
    color: rgb(0, 0, 0);
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}
 
#islam h4{
    background-color: rgb(202, 34, 12);
    color: rgb(255, 255, 255);
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}

#budha h4{
    background-color: rgb(9, 146, 94);
    color: rgb(0, 0, 0);
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
} 

#sinto h4{
    background-color: rgb(138, 50, 10);
    color: white;
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}

#sikh h4{
    background-color: rgb(77, 9, 141);
    color: rgb(0, 0, 0);
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}

#baha h4{
    background-color: rgb(226, 30, 72);
    color: white;
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}

#dzin h4{
    background-color: rgb(181, 228, 13);
    color: rgb(0, 0, 0);
    font-weight: 400;
    padding: 0.3em;
    font-size: 1.1em;
}


#odkazy h4:hover {
    background-color: rgb(90, 7, 62);
}

#odkazy p {
    display: none;
}
